@page "/"
@using System.Text
@using System.Text.Json
@using System.Net.Http.Headers
@using System.Net.Http.Json
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<h3>FAC Checkout Demo</h3>

@if (!string.IsNullOrEmpty(RedirectData))
{
    <iframe srcdoc="@RedirectData" width="100%" height="700" frameborder="0"></iframe>
}
else if (!string.IsNullOrEmpty(ResultMessage))
{
    <div class="alert alert-info">@ResultMessage</div>
}
else
{
    <button class="btn btn-primary" @onclick="InitiatPayment">Start Payment</button>
}

@code {
    private string RedirectData;
    private string ResultMessage;

    // Replace these with your actual credentials from FAC/PowerTranz
    private const string MerchantId = "88805131";
    private const string ApiPassword = "jTMeNEjzHt1XafF1J2tdXMXQzKSAWggqUqdHGAxGRTCWNn8X4UNSk4";

    private async Task InitiatPayment()
    {
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Post, "https://staging.ptranz.com/api/spi/Auth");
        request.Headers.Add("Accept", "text/plain");
        request.Headers.Add("PowerTranz-PowerTranzId", $"{MerchantId}");
        request.Headers.Add("PowerTranz-PowerTranzPassword", $"{ApiPassword}");
        // var content = new StringContent("{\n    \"TransactionIdentifier\": \"5790745c-95fb-4bed-8bec-f1272a89f048\",\n    \"TotalAmount\": 1,\n    \"CurrencyCode\": \"840\", \n    \"ThreeDSecure\": false, \n    \"OrderIdentifier\": \"INT-b9204a20-8bf0-4b66-a039-522c305d4800-Orc\",\n    \"AddressMatch\": false,\n    \"ExtendedData\": {\n      \n          \"HostedPage\": {\n            \"PageSet\": \"MapayPageSet\",\n            \"PageName\": \"MapayPageName\"\n        },\n        \"MerchantResponseUrl\": \"{{MERCHANT_URL}}\" \n         \n    }\n}", null, "application/json");
        string spiToken = null;

        var requestObj = new
        {
            TransactionIdentifier = Guid.NewGuid(),
            TotalAmount = 1,
            CurrencyCode = "840",
            ThreeDSecure = false,
            OrderIdentifier = $"INT-{Guid.NewGuid()}-Orc",
            AddressMatch = false,
            ExtendedData = new
            {
                HostedPage = new
                {
                    PageSet = "PTZ/MapayPageSet",
                    PageName = "MapayPageName"
                },
                MerchantResponseUrl = "https://localhost:7216/api/Payment/Response"
            }
        };

        var jsonString = JsonSerializer.Serialize(requestObj);
        var content = new StringContent(jsonString, Encoding.UTF8, "application/json");

        request.Content = content;
        var response = await client.SendAsync(request);
        response.EnsureSuccessStatusCode();
        var result = JsonDocument.Parse(await response.Content.ReadAsStringAsync());

        RedirectData = result.RootElement.GetProperty("RedirectData").GetString();
        StateHasChanged();
    }
}
